<server description="model.Book Store Frontend">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsf-2.3</feature>
        <feature>cdi-2.0</feature>

        <feature>appSecurity-3.0</feature>
        <feature>servlet-4.0</feature>
        <feature>mpJwt-1.2</feature>
        <feature>mpConfig-2.0</feature>
        <feature>mpRestClient-2.0</feature>
    </featureManager>


    <variable name="default.http.port" defaultValue="9090"/>
    <variable name="default.https.port" defaultValue="9091"/>

    <httpEndpoint httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" />

    <keyStore id="defaultKeyStore" password="secret"/>

    <basicRegistry id="basic" realm="WebRealm">

        <user name="beyza" password="beyzasifre" />
        <user name="ali" password="alisifre" />
        <user name="ayse" password="aysesifre"/>

        <group name="adminGroup">
            <member name="beyza" />
        </group>
        <group name="modGroup">
            <member name="ayse" />
        </group>
        <group name="userGroup">
            <member name="ali" />
            <member name="beyza" />
            <member name="ayse" />
        </group>

    </basicRegistry>

    <application location="bookStoreFrontend.war" context-root="/">
        <application-bnd>
            <security-role name="admin">
                <group name="adminGroup" />
            </security-role>
            <security-role name="user">
                <group name="userGroup" />
            </security-role>
            <security-role name="mod">
                <group name="modGroup"/>
            </security-role>
        </application-bnd>
    </application>

    <jwtBuilder id="jwtBookStoreBuilder" issuer="http://openliberty.io" expiry="24h" />
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

</server>